body {
    padding: 10px;
}
.email-heading {
    display: flex; 
    justify-content: center;
    color: rgb(127, 224, 135);
}
.search-bar {
    margin: 10px;
}
.search-btn {
    margin-right: 20px;
}
.message-card {
    color: black;
    border: 2px solid black;
    margin: 5px;
    
}
.btn-primary {
    border-color: black;
    color: black;
    background-color: rgb(104, 250, 129);
}

.custom-height{
    min-height: 60vh;
}
.compose-button {
    background: rgb(104, 250, 129);
    color: black;
    margin-bottom: 5px;
}
.reply-button {
   background: white;
    color:aqua;
    border-color: aqua;

}
@media (min-width: 768px) {
    .btn-group{
      display: block;
    }

    .btn-group .btn {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }

